.jumbotron {

    background-image: url("/img/banner4.jpg");
    text-shadow: 0 0 0.4em rgb(255, 255, 255), 0 0 0.4em rgb(255, 255, 255),
		0 0 0.4em rgb(255, 255, 255);

    background-size: cover;
    position: top;
    padding-top: 1%;
    padding-bottom: 1%;
    
  }

