body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 10px;
  font-weight: 200;
  background-color: #520000; /*opcion : #520000*/
  position: fixed;
  top: 0px;
  padding-left: 0px;
  height: 100%;
  width: 25.4%;
  color: #e1ffff;
}

#title_image{
  padding-bottom: 8%;
  margin-top: 8%;
  display: block;
  margin-left: 3vh;
  margin-right: auto;
  width: 80%;
}

#footer_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 10px;
  width: 80%;
  left: 8%;
  
}

.buttons_option{
  height: 6.5% !important;
  margin-bottom: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#buttons_image_option{
	margin-top: 2%;
}

.sello_size{
	z-index: 100;
	visibility: hidden;
  opacity: 0.6;
  width: 6%;
  margin: 1%;
  margin-top: -17vh;
  position: sticky;
}

#ContainerDesctipcion{
  text-align: justify;
	visibility: hidden;
	border-radius: 30px;
	background-color: rgba(255,255,255,0.73);
	width: 70vh;
  height: auto;
  -webkit-box-shadow: 6px 5px 20px -4px rgba(0,0,0,0.73); 
	box-shadow: 6px 5px 20px -4px rgba(0,0,0,0.73);
  margin-left: 5%;
	position: absolute; 
	bottom: 5%;
}

.SmallDescripcion{
	color: rgb(0, 0, 0);
  font-size: 15px
}

#TitleDescripcion{
	font-weight: bold;
}

#GeovisorDescripcion, #Como_llegarDescripcion, #RegistrarSitioDescripcion, #FiestasDescripcion
{
  margin-right: 12%;
  display: none;
  margin-right: 5%;
  
}

#MapsFrame{
	width: 100%;
  height: 100vh;
  
}

.boton {
	float: right;
	margin-right: 2vh;
	cursor: pointer;
}

.imgLogo3 {
  width:4%;
}

